<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Платеж успешно обработан</h2>
        <p>Код: {{ code }}</p>
        <ol>
            <li>Введите или сгенерируйте ключ продукта (если пользуетесь впервые) на странице <a target="_blank" href="http://shamanovski.pythonanywhere.com/activatecode">http://shamanovski.pythonanywhere.com/activatecode</a></li>
            <li>Введите код на той же странице</li>
            <li>Создайте текстовик с названием license.txt в папке с программой и введите ключ туда</li>
        </ol>
    </body>
</html>